.pop-up__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  margin: 34px 0 54px 36px;
  align-self: flex-start;
}

@media screen and (max-width: 880px) {
  .pop-up__title {
    font-size: 18px;
    margin: 25px 22px 75px;
  }
}