.card__delete-button {
  background-image: url("../../../images/Trash.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  width: 100%;
  max-width: 20px;
  height: 18px;
  position: absolute;
  top: 18px;
  right: 15px;
  transition: opacity .3s;
  cursor: pointer;
}

.card__delete-button:hover {
  opacity: .6;
}