/*Основные стили*/
@import url('./vendor/normalize.css');
@import url('./vendor/fonts.css');
@import url('./blocks/root/root.css');
@import url('./blocks/page/page.css');
/*Блок header*/
@import url('./blocks/header/header.css');
@import url('./blocks/page/__header/page__header.css');
@import url('./blocks/logo/logo.css');
@import url('./blocks/header/__logo/header__logo.css');
@import url('./blocks/nav/nav.css');
@import url('./blocks/nav/__item/_hidden/nav__item_hidden.css');
@import url('blocks/nav/__link/nav__link.css');
@import url('blocks/nav/__link/_hidden/nav__link_hidden.css');
@import url('./blocks/nav/__email/header__email.css');
@import url('blocks/nav/__nav-button/nav__button.css');
@import url('./blocks/header/__button/header__button.css');
@import url('./blocks/header/__button/_hidden/header__button_hidden.css');
@import url('./blocks/header/__button/_active/header__button_active.css');
@import url('./blocks/menu/menu.css');
@import url('./blocks/menu/__nav/menu__nav.css');
@import url('./blocks/menu/__paragraph/menu__paragraph.css');
@import url('./blocks/menu/__button/menu__button.css');
/*Блок main*/
@import url('./blocks/main/main.css');
@import url('./blocks/main/_disable/main_disable.css');
@import url('./blocks/spinner/spinner.css');
@import url('./blocks/spinner/_disable/spinner_disable.css');
@import url('./blocks/spinner/_position_main/spinner_position_main.css');
@import url('./blocks/page/__main/page__main.css');
/*Блок profile*/
@import url('./blocks/profile/profile.css');
@import url('./blocks/main/__profile/main__profile.css');
@import url('./blocks/profile/__overlay/profile__overlay.css');
@import url('./blocks/profile/__avatar/profile__avatar.css');
@import url('./blocks/profile/__info/profile__info.css');
@import url('./blocks/profile/__title/profile__title.css');
@import url('./blocks/profile/__edit-button/profile__edit-button.css');
@import url('./blocks/profile/__subtitle/profile__subtitle.css');
@import url('./blocks/profile/__add-button/profile__add-button.css');
/*Блок elements*/
@import url('./blocks/elements/elements.css');
@import url('./blocks/main/__elements/profile__elements.css');
@import url('./blocks/elements/__cards/elements__cards.css');
@import url('./blocks/card/card.css');
@import url('./blocks/card/__image/card__image.css');
@import url('./blocks/card/__title/card__title.css');
@import url('./blocks/card/__like/card__like.css');
@import url('./blocks/card/__like-button/card__like-button.css');
@import url('./blocks/card/__like-count/card__like-count.css');
@import url('./blocks/card/__delete-button/card__delete-button.css');
@import url('./blocks/card/__delete-button/_visible/card__delete-button_visible.css');
@import url('./blocks/card/__like-button/_active/card__like-button_active.css');
/*Блок footer*/
@import url('./blocks/footer/footer.css');
@import url('./blocks/page/__footer/page__foote.css');
@import url('./blocks/footer/__copyright/footer__copyright.css');
/*Блок pop-up*/
@import url('./blocks/pop-up/pop-up.css');
@import url('./blocks/pop-up/_opened/pop-up_opened.css');
@import url('./blocks/pop-up/__background/pop-up__background.css');
@import url('./blocks/form/form.css');
@import url('./blocks/form/__field/form__field.css');
@import url('./blocks/pop-up/__title/pop-up__title.css');
@import url('./blocks/form/__input/form__input.css');
@import url('./blocks/form/__submit-button/form__submit-button.css');
@import url('./blocks/pop-up/__exit-button/pop-up__exit-button.css');
@import url('./blocks/pop-up/__image/pop-up__image.css');
@import url('./blocks/pop-up/__image-container/pop-up__image-container.css');
@import url('./blocks/pop-up/__image-title/pop-up__image-title.css');
@import url('./blocks/pop-up/__exit-button/_place_image-pop-up/pop-up__exit-button_place_image-pop-up.css');
@import url('./blocks/form/__input-error/form__input-error.css');
@import url('./blocks/form/__input/_type_error/form__input_type_error.css');
@import url('./blocks/form/__input-error/_active/form__input-error_active.css');
@import url('./blocks/form/__submit-button/_disable/form__submit-button_disable.css');
@import url('./blocks/error/__massage/error__massage.css');
@import url('./blocks/display-none/display-none.css');
@import url('./blocks/pop-up/__status-image/pop-up__status-image.css');
/*Страницы Входа и регистрации*/
@import url('./blocks/auth/auth.css');
@import url('./blocks/auth/__title/auth__title.css');
@import url('./blocks/auth/__form/auth__form.css');
@import url('./blocks/auth/__link/auth__link.css');
@import url('./blocks/form/__input/_type_auth/form__input_type_auth.css');
@import url('./blocks/form/__submit-button/_type_auth/form__submit-button_type_auth.css');